html{
  font-family: Arial, Helvetica, sans-serif;
}

#chat {animation: popup-fade-in 200ms 1 linear;padding-top: 32px;height: calc(100% - 96px);width: 92%;padding-left: 4%;padding-right: 4%;overflow-y: auto;}
#chat > div { font-size: larger; width: 100%; }
#chat > div > a.red {color: #F00}
#chat > div > a.orange {color: rgb(255, 123, 0)}
#chat > div > a.yellow {color: #FF0}
#chat > div > a.green {color: #0F0}
#chat > div > a.blue {color: #00F}
#chat > div > a.purple {color: rgb(132, 0, 255)}
#chat > div > a.pink {color: rgb(255, 0, 221)}
#chat > div > a.white {color: white}
#chat > div > a.black {color: #000}
#chat > div::after { animation: popup-fade-in 200ms 1 linear; content: ""; width: 10; background-color: rgba(0, 5, 80, 0.384); height: 1px; display: block; margin-top: 8px; margin-bottom: 8px; }

.white{
  color: white;
}

body{
  overflow: hidden;
  margin: 0px;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  padding: 20px;
}

input {
  width: calc(100vw - 50px);
  background-color: #555;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  height: calc(10vh - 40px);
}

::placeholder{
  color: #ccc;
}







/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -98px; /* Divide value of min-width by 2 */
  background-color: rgb(6, 167, 6); /* Black background color */
  color: black; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  right: 27px; /* 30px from the bottom */
  bottom: 70px;
  border: none;
  font-size: 16px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 27px; opacity: 1;}
}

@keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 27px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {right: 10px; opacity: 1;}
  to {right: 0; opacity: 0;}
}

@keyframes fadeout {
  from {right: 10px; opacity: 1;}
  to {right: 0; opacity: 0;}
}